<div class="row">

<h3>Software Carpentry (Python)</h3>
<div class="col-md-3">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45</td>  <td>Unix shell (continued)</td> </tr>

    </table>
</div>

<div class="col-md-3">
  <h3>Day 2</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Version control with git</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td>Version control with git (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 3</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Programming with Python</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td>Python (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 4</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Programming with Python (continued)</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td>Python (continued)</td> </tr>

  </table>
</div>
</div>

<div class="row">

<h3>Data Carpentry (R)</h3>
<div class="col-md-3">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to R</td> </tr>
      <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:45</td>  <td>R (continued)</td> </tr>

    </table>
</div>

<div class="col-md-3">
  <h3>Day 2</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Starting with data</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td> Data (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 3</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Aggregating and analyzing data with dplyr</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td>dplyr (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 4</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Data visualization with ggplot2 (continued)</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:45</td>  <td>Visualization (continued)</td> </tr>
  </table>
</div>
</div>
