<div class="row">
  <h3>Software Carpentry</h3>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="https://biologyguy.github.io/git-novice">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
<h3>Data Carpentry</h3>
   <div class="col-md-6">
     <h3 id="syllabus-r-intro">Introduction to R</h3>
     <ul>
       <li>Define the following terms as they relate to R: object, assign, call, function, arguments, options.</li>
       <li>Assign values to objects in R.</li>
       <li>Learn how to name objects</li>
       <li>Use comments to inform script.</li>
       <li>Solve simple arithmetic operations in R.</li>
       <li>Call functions and use arguments to change their default options.</li>
       <li>Inspect the content of vectors and manipulate their content.</li>
       <li>Subset and extract values from vectors.</li>
       <li>Analyze vectors with missing data.</li>
     </ul>
   </div>

   <div class="col-md-6">
     <h3 id="syllabus-starting-data">Starting with data</h3>
     <ul>
       <li>Describe what a data frame is.</li>
       <li>Load external data from a .csv file into a data frame in R.</li>
       <li>Summarize the contents of a data frame in R.</li>
       <li>Manipulate categorical data in R.</li>
       <li>Change how character strings are handled in a data frame.</li>
       <li>Format dates in R</li>
     </ul>
   </div>
 </div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-dplyr">Data aggregation with dplyr</h3>
    <ul>
        <li>Select certain columns in a data frame with the dplyr function select.</li>
      <li>Select certain rows in a data frame according to filtering conditions with the dplyr function  filter.</li>
      <li>Link the output of one dplyr function to the input of another function with the ‘pipe’ operator %>%.</li>
      <li>Add new columns to a data frame that are functions of existing columns with mutate.</li>
      <li>Use the split-apply-combine concept for data analysis.
      Use summarize, group_by, and tally to split a data frame< into groups of observations, apply a summary statistics for each group, and then combine the results.</li>
      <li>Reshape a data frame from long to wide format and back with the spread and gather commands from the tidyr package.</li>
      <li>Export a data frame to a .csv file.</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-ggplot2">Data visualization with ggplot2 </h3>
    <ul>
      <li>Produce scatter plots, boxplots, and time series plots using ggplot.</li>
      <li>Set universal plot settings.</li>
      <li>Describe what faceting is and apply faceting in ggplot.</li>
      <li>Modify the aesthetics of an existing ggplot plot (including axis labels and color).</li>
      <li>Build complex and customized plots from data in a data frame.</li>

    </ul>
  </div>

</div>
